.Menu .menu {
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    justify-items: center;
 }
 
.Menu .title {
    font-size: 1.2em;
    color: #000;
 }
 
.Menu .lista {
    display: flex;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    padding: 0;
 }
 
.Menu .link {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-size: 1em;
 }
 
.Menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    list-style: none;
    z-index: 1;
 }
 
.Menu .menu:hover .submenu {
    display: block;
 }

.Menu .bold-link {
    font-weight: bold;
  }

.Formulario {
    margin: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #f8f9fa;
 }
 
.Formulario fieldset {
    border: none;
    padding: 0;
    margin: 0;
 }
 
.Formulario legend {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
 }
 
.Formulario label {
    display: block;
    margin-bottom: 10px;
 }
 
.Formulario input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
 }
 
.Formulario button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
 }
 
.Formulario button:hover {
    background-color: #e2e6ea;
 }

.disease-box {
    white-space: pre-line;
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    color: black;
    text-align: center;
    position: relative;
    opacity: 0.3;
}

.disease-image{
    white-space: pre-line;
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    text-align: center;
    position: relative;
    opacity: 0.3;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta a transparência para 50% */
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 10%; /* Ajusta a distância do topo */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    max-width: 80%; /* Ajusta a largura máxima do conteúdo */
    margin: auto; /* Centraliza horizontalmente */
}

.disease-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.disease-icon {
    width: 60px; /* Ajusta a largura dos ícones */
    height: 60px; /* Ajusta a altura dos ícones */
    cursor: pointer;
    z-index: 2;
}


.MelhoriaGeralDaSaude {
   text-align: center;
}

.MelhoriaGeralDaSaude .imagem {
    height: 25vh;

}

.PrevencaoETratamentoDeDoencasNaoTransmissiveis{
    text-align: center;
}

.ReducaoDaMortalidadeInfantil{
    text-align: center;
}



/* .Footer {
    
    
    display: flex;
    align-items:center;
    justify-content: center;
    align-items:baseline;
    justify-content: center;
} */
.Footer .titulo {
    position: absolute;
    display:flex;
    font-size: 1em;
    background: #313131;
    color: white;
    width: 100%;
    margin-top: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
  
.Footer .lista {
    list-style: none;
    padding: 0;
}
  
.Footer .integrante {
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    margin: 10px 0;
    justify-content: center;
}
  
.Footer .ano { 
    font-size: 0.7em;
}

.VideoPitch {
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
  
.CombateADoencasTransmissiveis {
    
}